@import "@fontsource/roboto"; /* Defaults to weight 400 */
@import "@fontsource/roboto/500.css";

@import "./theme/styles/reset";

@font-face {
  font-family: "Rubik One";
  font-weight: normal;
  font-style: normal;
  src: url("./assets/fonts/RubikOne-Regular.ttf") format("truetype");
}

:root {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-feature-settings:
    "clig" off,
    "liga" off;
  font-weight: 400;
  font-style: normal;
  line-height: 20px; /* 125% */
  color: #073b4c;
  text-size-adjust: 100%;
  text-rendering: optimizelegibility;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-synthesis: none;
}

* {
  box-sizing: border-box;
}
